body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 20px;
  line-height: 1.6;
}

h1 {
  color: darkblue;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  color: #444;
}

a {
  color: darkred;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: black;
}
